page-the-batteris-out {
  .img-wrapper{
    text-align: center;
    img{
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  h2{
    text-align: center;
    font-family: "arial";
    color: #000;
    margin-bottom: 20px;
    font-weight: bold;
  }

  h3{
    color: #000;
  }

  ol{
    list-style-type:lower-alpha;
    -webkit-padding-start: 20px;
    li{
      padding-left: 10px;
      ul{
        -webkit-padding-start: 20px;
      }
    }
  }
}
